.about-img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}
// #9AD2C7 #17A6B6 #067C96 #F55D3E;
.about-table {
  margin: auto;
  text-align: center;
  font-weight: bold;
  .about-links {
    font-size: 3em;
    color: #17A6B6;
    margin: 0 2px 0 2px;
    &:hover{
      color: #067C96;
    }
  }
  p {
    font-weight: 100;
    padding: 0em 1em 0.5em 1em;
    &.lead{
      padding: 0.5em;
    }
  }
  img{
    margin: 1.5em;
  }
  hr{
    border-top: 1px solid #9AD2C7;
  }
  .self-description{
    min-height: 11.5em;
  }
}

.text-center.about-table-title {
  font-weight: 100;
  span{
    padding: 0.2em 1em 0.2em 1em;
    border: 2.5px solid #9AD2C7;
    border-left: none;
    border-right: none;
  }
  padding: 0.3em;
  margin: 1em auto 1em auto;
}
