.list-group {
  box-shadow: none;
}

.list-group-item {
  background-color: #F5F5F5;
  border-color: #17A6B6;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 0px;
  a {
    color: #4F4F4F;
  }
  &:hover {
    background-color: #CEEAED;
    border-radius: 0px;
  }
  &:last-child {
    border-radius: 0px;
  }
}

#difficulty-bar-outer {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: #eee;
  text-align: center;
  float: right;
}

#difficulty-bar-inner {
  height: 100%;
  position: absolute;
}

#bar-text {
  position: absolute;
  margin: 7% 0 0 35%;
  z-index: +2;
}