.challenge-header {
	h3 {
		font-size:35px;
		font-weight: bold;
	}
}

.pass-flag {
	color: green;
	font-size: 30px; 
}
.fail-flag {
	color: red;
	font-size: 30px;
}

.case-text {
	font-size: 1.8em;//30px
	display: inline;
	color: gray;
}
.text-match {
  color: green;
  font-weight: bold;
  display: inline;
}

.malformed {
  background-color: #FF4C4D;
  height: 50px;
  color: #FFF;
  padding-top: 15px;
  padding-left: 15px;
  border-radius: 0;
  border: none;
}

#input-pattern {
	position: relative;
  width: 100%;
  input {
  	font-weight: 600;
  }
}
.table{
  th {
    font-size: 1.8em;
  }
  td{
  }
}

.challenge-view-difficulty-bar {
 margin-bottom: 1%;
}

// 初期マウント時のtransition
.slide-appear {
  opacity    : 0;
  transition : opacity .7s ease-in;
}

.slide-appear.slide-appear-active {
  opacity : 1;
}

// componentがCSSTransitionGroup Component以下に新たに追加されたとき
.slide-enter {
  max-height : 0;
  transition : all .3s ease-in;
}

.slide-enter.slide-enter-active {
  max-height : 1000px;
}

// componentがCSSTransitionGroup Component以下から削除されたとき
.slide-leave {
  max-height : 1000px;
  transition : all .3s ease-out;
}

.slide-leave.slide-leave-active {
  max-height : 0;
}

#congrats-box {
	background-color: #d3ecb0;
	height: 8%;
	// width: 100%;
	// margin-top: 2%;
	width: 77.5%;
	margin-top: .1%;
	color: #FFF;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	position: relative;
	z-index: +10;
}


.reveal-btn {
  background-color: #17A6B6;
  color: #FFF;
  margin-left: 40%;
  margin-right: 40%;
  padding: 0.5em;
  margin-top: 0.8em;
  // border: 1px solid #d3ecb0;
  border: none;
  font-size: 14px;
}

.reveal-answer {
  margin-top: 1%;
  color: #151515;
}

.reveal-answer-button {
  margin-top: 1%;
	background-color: #17A6B6;
	color: #FFF;
  box-shadow: none;
  border: none;
  outline: none;			
}


.reveal {
  margin-top: 0.5em;
  padding: 0.5em;
  color: grey;
  background-color: #f7f9be;
}

