.cheat-sheet {
  background-color: #FFF;
  border: 2px solid #17A6B6;
  font-size: 11px;
  list-style: none;
  float: right;
  position: absolute;
  margin-right: 0;
  left: 79%;
  padding: 5px;
}

.cheat-glyph {
  float: right;
}
