.footer {
  li {
    list-style: none;
    display: inline;
    margin: 20% 20px 0 20px;
    color: #949494;
  }
  .logo {
    font-size: 20px;
    cursor: pointer;
    color: #4F4F4F;
    }

  img {
    border:none;
    height: 1-px;
    width: 15px;
    margin: 0px 5px 0px 0px;
  }

  a {
    text-decoration: none;
    color: #949494;
    &:hover {
      color: #17A6B6;
    }
  }
}

//orgininally placed between .clear-top{} & .cheat-sheet{}
