.form-control {
  height: 50px;
  font-size: 25px;
  box-shadow: none;
  outline: none;
  border-color: lightgrey;
  border-radius: 0px;
  &:focus {
    box-shadow: none;
    outline: none;
    border-color: lightgrey;
  }
}

.post-form{ 
  color: #4F4F4F;
  form{
    input{
     box-shadow: none;
     outline: none;
     min-height: 40px;
     padding-left: 5px;
     &:focus{
      border: 1px solid #17A6B6;
     }
    }
    select{
      font-size: 15px;
      min-width: 200px;
      &:focus{
      border-color: #17A6B6;
     }
    }
    textarea{
      font-size: 15px;
      min-height: 80px;
      min-width: 200px;
      resize: none;
      &:focus{
      border-color: #17A6B6;
     }
    }
  }
}
#continue {
  background-color: #17A6B6;
  height: 50px;
  border-radius: 0;
  color: #FFF;
}

.malformed {
  background-color: #FF4C4D;
  height: 50px;
  color: #FFF;
  padding-top: 15px;
  padding-left: 15px;
  border-radius: 0;
  border: none;
}

#input-pattern {
  width: 100%;
}.text-match {
  color: green;
}
