.form-control {
  height: 50px;
  font-size: 25px;
  box-shadow: none;
  outline: none;
  border-color: lightgrey;
  border-radius: 0px;
  &:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #17A6B6;
  }
}
.post-form{ 
  color: #4F4F4F;
  form{
    input{
     box-shadow: none;
     outline: none;
     min-height: 40px;
     padding-left: 5px;
     width: 100%;
     &:focus{
      border: 1px solid #17A6B6;
     }
    }
    select{
      font-size: 15px;
      min-width: 200px;
      max-width: 25%;
      &:focus{
      border-color: #17A6B6;
     }
    }
    textarea{
      font-size: 15px;
      min-height: 80px;
      min-width: 200px;
      resize: none;
      &:focus{
      border-color: #17A6B6;
     }
    }
  }
}

#continue {
  background-color: #17A6B6;
  height: 50px;
  width: 100%;
  border-radius: 0;
  color: #FFF;
}
#post-requirements {
  font-weight: normal;
  font-style: italic;
  font-size: 13px;
  color: gray;
}
#invalid-post {
  width: 100%;
  background-color: #F55D3E;
  height: 50px;
  font-style: italic;
  text-align: center; 
  vertical-align: middle;
  line-height: 50px;
  span {
    color: white;
  }
}



