.home-banner {
  background-color: #d3ecb0;
  padding: 10% 0 12% 0;
  margin: 0 0 5% 0;
  .banner-img {
    height: 150px;
    width: 150px;
    float: left;
    margin: -20px 5% 0 13%;
  }
}

.homepage-row {
  margin: 2% 2% 2% 5%;
}

.book-logo {
	position: relative;
}

.list-img {
  height: 220px;
  width: 220px;
}

.quill {
  margin-top: -12%;
  height: 250px;
  width: 250px;
}

.home-images {
  width: 25%;
  margin: 0 4% 0 3%;
  text-align: center;
}

.image-text {
  align: center;
}

.book-r {
	background-color: #F5F5F5;
	padding: 10px 40px 20px 10px;
	margin: 20% 0 0 31.5%;
	font-family: Lavanderia-Sturdy;
	font-size: 50px;
	color: #000;
	position: absolute;
}

.lower-home {
	padding: 5% 4% 5% 5%;
  margin: 5% 0 0 0;
  background-color: #ebb594;
  font-size: 20px;
  color: #000;
  text-align: center;
}

.learn-h3 {
  padding: 3% 0 3% 0;
  font-weight: 100;
  background-color: #f7f9be;
  a {
    color: #000;
  }
}

.challenge-h3 {
  padding: 3% 0 3% 0;
  font-weight: 100;
  background-color: #9ad2cb;
  a {
    color: #000;
  }
}

.contribute-h3 {
  padding: 3% 0 3% 0;
  font-weight: 100;
  background-color: #ff9e9e;
  a {
    color: #000;
    }
}



