.home-page {
  margin: auto;
  width: 75%;
  align-content: center;
}

.home-list {
  width: 250px;
  text-align: center;
  display: inline-block;
  list-style: none;
}

.table-style {
  margin-top: 10%;
  margin-bottom: 10%;
}
