.post {
  background-color: #FFF;
  border: 5px solid #E27A78;
  width: 80%;
  margin: auto;
  font-size: 16px;
  padding: 15px;
  font-family: Helvetica;
  vertical-align: text-top;

  table{
    td.edit-case-text.case-text{
      border-top: none;
    }
    .edit-case-text.case-text{
      span{
        font-size: 20px;
        margin-bottom: 3%;
      }
      input{
        margin: 1% auto 2% auto;
      }
    }
    .glyphicon {
      &:hover {
        border-radius: 100%;
        padding: 6px;
        cursor: pointer;
        &.glyphicon-remove {
          background-color: #f4c2b8;
        }
        &.glyphicon-ok, &.glyphicon-pencil, &.glyphicon-plus {
          background-color: #c5eef4;
        }
      }
    }
    .glyphicon.glyphicon-ok{
      margin-left: 5px;
      padding: 5px;
      color: #17A6B6;
    }
      margin: 3px;
    .glyphicon.glyphicon-remove{
      padding: 5px;
      color: #F55D3E;
    }
    .glyphicon.glyphicon-plus{
      margin-left: 5px;
      padding: 5px;
      color: #17A6B6;
    }
    .glyphicon.glyphicon-pencil{
      margin-left: 5px;
      padding: 5px;
      color: #17A6B6; 
    }
    input:focus{
      border: 1px solid #17A6B6;
    }
    #save{
      color: #17A6B6;
      font-size: 14px;
    }
    #remove{
      color: #F55D3E;
      font-size: 14px;
    }
  }
}

.postDescription {
  vertical-align: middle;
}
