.tech-stack{
  img{
    width: 80%;
    height: 80%;
    padding: 2em;
    border: 5px solid #17A6B6;
    margin: 0em 3em 3em 3em;
  }
  color:#474747;
  width: 80%;
  h3{
    border: 0.05em solid #474747;
    border-left: none;
    border-right: none;
    padding: 0.3em 0.8em 0.3em 0.8em;
  }
  span{
    color: #17A6B6;
    font-size: 1.1em;
  }
}
