.profile-hr{
  border: .125em solid #ceeaed;
  margin-top: 2.25em;
}

.not-logged-in{
  h2{
    border: 5px solid #FF4C4D;
    padding: 1em;
    color: #FF4C4D;
  }
}

.table-responsive{
  border: none;
}
table{
  margin-left: auto;
  margin-right:auto;
  td{
    padding: 2em;
  }
}
#complete-challenge{
  background-color: #d3ecb0;
  color: #565A5C;
  li.list-group-item.container{
    width:100%;
    padding-left: 5em;
    padding-right: 5em;
    text-align: left;
  #difficulty-bar-outer.pull-right{
    height: 1.5em;
    margin-button: 1%;
  }
  #difficulty-bar-inner{
    height: 1.5em;
  }
  #bar-text{
    margin: 1% 0 0 35%;
  }
  }
}
.user-profile{
  h1{
    padding: 0.2em 1em 0.2em 1em;
    border: 2.5px solid #9AD2C7;
    border-left: none;
    border-right: none;
  }
}
#tutorial-progress{
  color: #565A5C;
  background-color: #f7f9be;
  .user-profile-progress{
    background-color: #F5F5F5;
    padding: 1%;
    &:hover{
      background-color: #CEEAED;
    }
  }
  .outerProgress{
    margin: auto;
    border: 1px solid #17A6B6;
  }
}
#contributions{
  color: #565A5C;
  background-color: #9ad2cb;
  li.list-group-item.container{
    width:100%;
    padding-left: 5em;
    padding-right: 5em;
    text-align: left;
  #difficulty-bar-outer.pull-right{
    height: 1.5em;
    margin-button: 1%;
  }
  #difficulty-bar-inner{
    height: 1.5em;
  }
  #bar-text{
    margin: 1% 0 0 35%;
  }
  }
}

.tool-tip {
  font-weight: bold;
  color: #565A5C;
  position: absolute;
}
