.profile-hr{
  border-color: #9ad2cb;
}
.table-responsive{
  border: none;
}
table{
  margin-left: auto;
  margin-right:auto;
  td{
    padding: 2em;
  }
}
#complete-challenge{
  background-color: #d3ecb0;
}

#tutorial-progress{
  background-color: #f7f9be;
}
#contributions{
  background-color: #9ad2cb;
}
