@font-face {
 font-family: Lavanderia-Sturdy;
 src: url('./fonts/Lavanderia-Sturdy.woff') format('woff');
}

body {
  margin: 0;
  background-color: #F5F5F5;
  font-family: Helvetica;
}

.intro {
	width: 60%;
	margin: auto;
	padding: 30px;
	background-color: #FFF;
}

.challenge {
	background-color: white;
	width: 60%;
	margin: auto;
	padding: 15px; 
}

.nav-pills>li>a{
  width: 150px;
  text-align: center;
	font-size: 15px;
	color: #000;
  border-radius: 0px;
  border-bottom: 1px solid black;
  padding: 5px; 
  margin: 15px;
}

.nav-pills>li>a:hover {
  background-color: #F5F5F5;
  border-bottom: 1px solid #17A6B6;
  border-bottom-right-radius: 0px;
  color: #17A6B6;
}
h1{
  background-color: #17A6B6;
  color:white;
  padding: 5%;
}
a:hover{
  text-decoration: none;
}

.list-group{
  box-shadow: none;
}

.list-group-item a {
  color: #000;
}

.list-group-item {
  background-color: #F5F5F5;
  border-color: #FF4C4D;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 0px;
}

.list-group-item:last-child{
  border-radius: 0px;
}

.list-group-item:hover{
  background-color: #F2D6D3;
  border-radius: 0px;
}

#cheat-sheet {
  position: absolute;
  background-color: white;
  margin-right: 0;
  left: 75%;
  right: 0;
}

.logo {
	font-size: 35px;
	font-family: Lavanderia-Sturdy;
	color: #000;
}

.logo:hover {
	color: #000;
}

.form-control {
	height: 50px;
	font-size: 25px;
  box-shadow: none;
  outline: none;
  border-color: lightgrey;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: lightgrey;
}

#continue {
	background-color: #17A6B6;
	height: 50px;
	border-radius: 0;
	color: #FFF;
}

.malformed {
	background-color: #FF4C4D;
	height: 50px;
	color: #FFF;
	padding-top: 15px;
	padding-left: 15px;
	border-radius: 0;
	border: none;
}

.challenge-list{
  width: 80%;
  margin: auto;
  box-shadow: none;
}

#input-pattern {
	width: 100%;
}.text-match {
	color: green;
}

