@import 
'progress_bar',
'cheat-sheet',
'form-control',
'challenge-list',
'footer',
'homepage',
'about',
'challenge',
'post',
'user-profile',
'sign-in-modal';


@font-face {
 font-family: Lavanderia-Sturdy;
 src: url('./fonts/Lavanderia-Sturdy.woff') format('woff');
}

body {
  margin: 0;
  background-color: #F5F5F5;
  font-family: Avenir, Helvetica;
}

.logo {
  font-size: 50px;
  font-family: Lavanderia-Sturdy;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 20px 20px 20px 10px;
  :hover {
    color: #000;
  }
  &:visited {
    color: #000;
  }
}

a:hover {
  text-decoration: none;
}

.navbar {
  background-color: rgba(245,245,245,.8);
  min-height: 13%;
  .navbar-brand {
    margin-top: 1%;
    margin-left: 5px;
  }
}

.nav-pills>li>a {
  width: 150px;
  text-align: center;
	font-size: 15px;
	color: #000;
  border-radius: 0px;
  border-bottom: 1px solid #000;
  padding: 5px;
  margin: 15px;
  &:hover {
    background-color: transparent;
    border-bottom: 1px solid #17A6B6;
    color: #17A6B6;
  }
  &:focus {
    background-color: transparent;
    border-bottom: 1px solid #FF4C4D;
    color: #FF4C4D;
  }
}

.drop-down {
  background-image: none;
  background-color: #F5F5F5;
  width: 150px;
  border: none;
  border-bottom: 1px solid #000;
  box-shadow: none;
  border-radius: 0px;
  margin: 15px;
  &:hover {
    background-color: transparent;
    border-bottom: 1px solid #17A6B6;
    box-shadow: none;
    color: #17A6B6;
  }
  :active {
    background-color: transparent;
  }
}

.drop-down-menu {
  background-image: none;
  background-color: #FFF;
  color: #000;
  border:0px;
  outline:0px;
  a {
    background-color: #FFF;
    background-image: none;
    color: #000; 
  }
  :hover {
    background-color: #FFF;
    background-image: none;
    color: #17A6B6;
  }
}

.jumbotron {
  min-margin-top: 90px;
  border: 1px solid #E3E3E3;
  padding-right: 10%;
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  p {
    color: #17A6B6;
  }

  .banner-img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    border: 5px solid #000;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -20px;
  }
}

.list-img {
  border-radius: 100%;
  height: 220px;
  width: 220px;
  border: 5px solid #000;
  margin: 0 10px 0 10px;
}

.intro {
  width: 60%;
  margin: auto;
  padding: 30px;
  background-color: #FFF;
}

.challenge {
  background-color: #FFF;
  width: 60%;
  margin: auto;
  padding: 15px;
}

.challenge-list {
  width: 80%;
  margin: auto;
  box-shadow: none;
}

input{
 box-shadow: none;
 outline: none;
}

.clear-top {
  margin-top: 8%;
}

.tutorial-start {
  padding-bottom: 40px;
  p {
    width: 70%;
    color: #17A6B6;
    font-size: 18px;
    text-align: left;
    margin: 0% 0 0 5%;
  }
  h1 {
    text-align: left;
    margin-top: -3%;
  }
  span {
    background-color: #17A6B6;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    margin: -2% 0% 0 22%;
    padding: 10px; 
    float: left;
    z-index: +3;
  }
}


