@font-face {
 font-family: Lavanderia-Sturdy;
 src: url('./fonts/Lavanderia-Sturdy.woff') format('woff');
}

body {
  margin: 0;
  background-color: #F5F5F5;
  font-family: Helvetica;
}

.navbar {
  background-color: rgba(245,245,245,.8);
  height: 80px;
}

.navbar-brand{
  margin-top: 5%;
  margin-left: 5px;
}

.intro {
	width: 60%;
	margin: auto;
	padding: 30px;
	background-color: #FFF;
}

.challenge {
	background-color: white;
	width: 60%;
	margin: auto;
	padding: 15px;
}

.nav-pills>li>a{
  width: 150px;
  text-align: center;
	font-size: 15px;
	color: #000;
  border-radius: 0px;
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 15px;
}

.nav-pills>li>a:hover {
  background-color: #F5F5F5;
  border-bottom: 1px solid #17A6B6;
  border-bottom-right-radius: 0px;
  color: #17A6B6;
}

.post {
  background-color: white;
  width: 60%;
  margin: auto;
  font-size: 16px;
  padding: 15px;
  font-family: Helvetica;
  vertical-align: text-top;
}

.postDescription {
  vertical-align: middle; 
}

textarea {
  width: 400px;
  height: 100px;
  outline: none;
  resize: none;
}

.banner-img {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  border: 5px solid black;
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -20px;
}

.list-img {
  border-radius: 100%;
  height: 220px;
  width: 220px;
  border: 5px solid black;
  margin: 0 10px 0 10px;
}


.jumbotron {
  border: 1px solid #E3E3E3 ;

}

.jumbotron h1{
  font-size: 40px;
  font-weight: bold;
}

.jumbotron p {
  color: #17A6B6;
}


a:hover {
  text-decoration: none;
}

.list-group {
  box-shadow: none;
}

.list-group-item a {
  color: #4F4F4F;
}

.list-group-item {
  background-color: #F5F5F5;
  border-color: #17A6B6;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 0px;
}

.list-group-item:last-child {
  border-radius: 0px;
}

.list-group-item:hover {
  background-color: #CEEAED;
  border-radius: 0px;
}

#cheat-sheet {
  position: absolute;
  background-color: white;
  margin-right: 0;
  left: 75%;
  right: 0;
}

.logo {
	font-size: 50px;
	font-family: Lavanderia-Sturdy;
	color: #000;
  font-weight: bold;
}

.logo:hover {
	color: #000;
}

.logo:visited {
  color: #000;
}

.form-control {
	height: 50px;
	font-size: 25px;
  box-shadow: none;
  outline: none;
  border-color: lightgrey;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: lightgrey;
}

#continue {
	background-color: #17A6B6;
	height: 50px;
	border-radius: 0;
	color: #FFF;
}

.malformed {
	background-color: #FF4C4D;
	height: 50px;
	color: #FFF;
	padding-top: 15px;
	padding-left: 15px;
	border-radius: 0;
	border: none;
}

.challenge-list {
  width: 80%;
  margin: auto;
  box-shadow: none;
}

.footer li{
  list-style: none;
  display: inline;
  padding: 0 20px 0 20px;
}

.footer .logo{
  font-size: 20px;
  color: #4F4F4F;
}

.footer img{
  border:none;
  height: 15px;
  width: 15px;
  margin: 1px 5px 0px 0px;
}

#input-pattern {
	width: 100%;
}.text-match {
	color: green;
}

.home-page {
  margin: auto;
  width: 75%;
  align-content: center;
}

.home-list {
  width: 250px;
  text-align: center;
  display: inline-block;
  list-style: none;
}

.table-style {
  margin-top: 10%;
  margin-bottom: 10%;
}

.clear-top {
  margin-top: 9%;
}
